@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Farro:wght@300;400;500;700&display=swap');
body{
    background-color: white;
    width: 428px;
    height: 926px;
    
}

.menu{
    width: 428px;
    height: 75px;
    background-color: #303030;
}

h1{
    margin-left: 20px;
    font-family: 'Farro';
    font-size: 24px;
}
.logo{
   margin-top: 20px;
   margin-left: 180px;
}

footer{
    width: 428px;
    height: 45px;
    background-color: #303030;
}

.insta{
    margin-top: 10px;
    margin-left: 140px;
}

.elenco{
    margin-left: 45px;
}